@using WingStudio.Models;
@model WingStudio.Models.Notice

@{
    ViewBag.Title = "公告详细";
    Notice lastNotice = ViewBag.LastNotice;
    Notice nextNotice = ViewBag.NextNotice;
    var time = (Model.PublicTime == null) ? Model.LastModTime.ToString() : Model.PublicTime.ToString();
}

<div class="body-content">
        <div class="row">
            <div class="title">
                <span class="title-deck margin-right-10">◇◆</span>
                <span>@Model.Theme</span>
                <span class="title-deck margin-left-10">◆◇</span>
                <span class="return" onclick="history.go(-1);">返回</span>
            </div>
            <div class="other-info">
                <span class="time">@time</span>
                <span class="read-times">阅读量：@Model.LookCount 次</span>
            </div>
            <div class="main-info">
                <div class="content" id="html_content" style="display:none;">@Model.Content</div>
                <div class="near">
                    @if (lastNotice != null)
                    {
                        <div class="col-md-6">
                            <a href="@Url.Action("ShowNotice","Home", new { Id = lastNotice.Id })">上一篇：@lastNotice.Theme</a>
                        </div>
                    }
                    @if (nextNotice != null)
                    {
                        <div class="col-md-6">
                            <a href="@Url.Action("ShowNotice","Home", new { Id = nextNotice.Id })">下一篇：@nextNotice.Theme</a>
                        </div>
                    }
                </div>
            </div>
        </div>
</div>

@section Styles{
    <link href="~/Content/Home/ShowNotice/ShowNotice.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Content/Home/ShowNotice/ShowNotice.js"></script>
}


