@using PagedList.Mvc;
@model IPagedList<WingStudio.Models.User>
@{
    ViewBag.Title = "个人主页";
    User logined = ViewBag.Logined;
}

<div class="body-content">
    <div class="content-box">
        <div class="side-left col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="logined-info panel panel-default">
                <div class="panel-body">
                    <div class="avatar">
                        <img src="~/WingStudio/Avatar/@logined.Avatar" />
                    </div>
                    <div class="other-info">
                        <div class="caption">@logined.Account</div>
                        <div class="sign" title="@logined.UserInfo.Sign">@logined.UserInfo.Sign</div>
                        <div class="operation">
                            <ul>
                                <li><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><a id="upload_avatar" class="skyblue pointer"> 修改头像</a></li>
                                <li><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><a href="/User/AccountSetting" class="skyblue"> 账户设置</a></li>
                                <li><span class="glyphicon glyphicon-education" aria-hidden="true"></span><a href="/User/InfoSetting" class="skyblue"> 完善个人资料</a></li>
                                <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><a href="/User/ContactSetting" class="skyblue"> 完善联系方式</a></li>
                                <li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><a onclick="ShowDetailInfo();"  class="skyblue pointer"> 查看详细资料</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span><span><a href="/User/ManageBlog"> 我的博客 </a></span><span><a href="/User/ManageResource"> 我的资源 </a></span><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </div>
            </div>
            <div class="user-infos panel panel-default">
                <div class="panel-heading">成员信息<span class="float-right total">共 @ViewBag.UserCount 人</span></div>
                <div class="panel-body">
                    @foreach (var item in Model)
                    {
                        var sex = (item.Sex == "M") ? "男" : "女";
                        var sign = (item.UserInfo.Sign == "") ? "暂无" : item.UserInfo.Sign;
                        var count = item.Blogs.Count(m => m.IsPublic);
                        <div class="col-sm-6 col-md-4">
                            <div class="user-info thumbnail">
                                <div class="avatar">
                                    <img src="~/WingStudio/Avatar/@item.Avatar" />
                                </div>
                                <div class="caption">
                                    <p title="@item.Name">姓名: @item.Name</p>
                                    <p>性别: @sex</p>
                                    <p>年级: @item.Grade 级</p>
                                </div>
                                <div class="sign" title="@sign">座右铭: @sign</div>
                                <div class="operation">
                                    <div class="user-blog item" onclick="location.href='/User/PublicUserBlogs/@item.Id'" title="@count">个人博客</div>
                                    @if (item.UserInfo.PublicInfo)
                                    {
                                        <div class="item" onclick="ShowUserInfo(@item.Id);">个人信息</div>
                                    }
                                   @if (item.UserInfo.PublicContact)
                                   {
                                        <div class="item" onclick="ShowUserContact(@item.Id);">联系方式</div>
                                   }
                                   <div class="clear-both"></div>
                                </div>
                            </div>
                        </div>
                     }
                </div>
                <div class="panel-footer">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "User", new { page }))
                </div>
            </div>
        </div>
        <div class="side-right col-xs-12 col-xs-12 col-md-3 col-lg-3">
            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-body">
                        @using (Html.BeginForm("SearchPublicBlog", "User", FormMethod.Get, new { role = "form", id = "search_form" }))
                        {
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchContent" placeholder="博客" id="search_input" required="required">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default search-btn">搜索</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a onclick="SearchTarget('blog', '/User/SearchPublicBlog', '博客');" class="pointer">博客(默认)</a></li>
                                        <li><a onclick="SearchTarget('resource', '/User/SearchColumnResource', '资源');" class="pointer">资源</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="Calendar">
                            <div id="CalendarPre" class="CalendarPre">&lt;&lt;</div>
                            <div id="CalendarNext" class="CalendarNext">&gt;&gt;</div>
                            <span id="CalendarYear"></span>年 <span id="CalendarMonth"></span>月
                            <table cellspacing="0">
                                <thead>
                                    <tr>
                                        <td>日</td>
                                        <td>一</td>
                                        <td>二</td>
                                        <td>三</td>
                                        <td>四</td>
                                        <td>五</td>
                                        <td>六</td>
                                    </tr>
                                </thead>
                                <tbody id="CalendarValue"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">最新博客</div>
                    <ul class="list-group">
                        @{
                            var newBlogs = (IQueryable<Blog>)ViewBag.NewBlogs;
                            if (newBlogs.Count() > 0)
                            {
                                var typeText = "";
                                foreach (var item in newBlogs)
                                {
                                    typeText = (item.Type == BlogType.Jotting) ? "随笔" : "文章";
                                    <li class="list-group-item">
                                        <span class="badge" title="访问次数">@item.LookCount</span>
                                        <a href="/User/ShowBlog/@item.Id" title="阅读">[@typeText] @item.Theme - @(((DateTime)item.PublicTime).ToShortDateString())</a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="list-group-item red">
                                    暂无资源
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>*@
            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">热门博客</div>
                    <ul class="list-group">
                        @{
                            var hotBlogs = (IQueryable<Blog>)ViewBag.HotBlogs;
                            if (hotBlogs.Count() > 0)
                            {
                                var typeText = "";
                                foreach (var item in hotBlogs)
                                {
                                    typeText = (item.Type == BlogType.Jotting) ? "随笔" : "文章";
                                    <li class="list-group-item">
                                        <span class="badge" title="访问次数">@item.LookCount</span>
                                        <a href="/User/ShowBlog/@item.Id" title="阅读">[@typeText] @item.Theme - @(((DateTime)item.PublicTime).ToShortDateString())</a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="list-group-item red">
                                    暂无资源
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            @*<div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">最新资源</div>
                    <ul class="list-group">
                        @{
                            var newFiles = (IQueryable<WebFile>)ViewBag.NewFiles;
                            if (newFiles.Count() > 0)
                            {
                                foreach (var item in newFiles)
                                {
                                    <li class="list-group-item">
                                        <span class="badge" title="访问次数">@(item.LoadCount + item.LookCount)</span>
                                        @if (item.Type == FileType.Document)
                                        {
                                            <a href="/User/LookColumnDocument/@item.Id" title="阅读">[文档] @item.Name - @item.LastModTime.ToShortDateString()</a>
                                        }
                                        else if (item.Type == FileType.Video)
                                        {
                                            <a href="/User/PlayColumnVideo/@item.Id" title="观看">[视频] @item.Name - @item.LastModTime.ToShortDateString()</a>
                                        }
                                        else
                                        {
                                            <a href="/User/LoadColumnResource/@item.Id" title="下载">[其它] @item.Name - @item.LastModTime.ToShortDateString()</a>
                                        }
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="list-group-item red">
                                    暂无资源
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">热门资源</div>
                    <ul class="list-group">
                        @{
                            var hotFiles = (IQueryable<WebFile>)ViewBag.HotFiles;
                            if (hotFiles.Count() > 0)
                            {
                                foreach (var item in hotFiles)
                                {
                                    <li class="list-group-item">
                                        <span class="badge" title="访问次数">@(item.LoadCount + item.LookCount)</span>
                                        @if (item.Type == FileType.Document)
                                        {
                                            <a href="/User/LookColumnDocument/@item.Id" title="阅读">[文档] @item.Name - @item.LastModTime.ToShortDateString()</a>
                                        }
                                        else if (item.Type == FileType.Video)
                                        {
                                            <a href="/User/PlayColumnVideo/@item.Id" title="观看">[视频] @item.Name - @item.LastModTime.ToShortDateString()</a>
                                        }
                                        else
                                        {
                                            <a href="/User/LoadColumnResource/@item.Id" title="下载">[其它] @item.Name - @item.LastModTime.ToShortDateString()</a>
                                        }
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="list-group-item red">
                                    暂无资源
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>*@
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<div id="forcheng-alert" class="forcheng-alert" style="display:none">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span id="panel_title">标题</span><button type="button" class="close" aria-label="Close" onclick="$('#forcheng-alert').hide();"><span aria-hidden="true">&times;</span></button></h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody id="body-data"></tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer"><center><a onclick="$('#forcheng-alert').hide();" class="panel-btn">确定</a></center></div>
    </div>
</div>


@section Styles{
    <link href="~/Scripts/Calendar/Calendar.css" rel="stylesheet" />
    <link href="~/Content/User/Index/Index.css" rel="stylesheet" />
}

@section Scripts{
     <script src="~/Scripts/Calendar/Calendar.js"></script>
     <script src="~/Content/User/Index/Index.js"></script>
}